{
  "extends": ["react-app", "prettier", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-unused-expressions": [
      "warn",
      {
        "allowTernary": true,
        "allowShortCircuit": true
      }
    ],
    "jsx-quotes": [1, "prefer-single"]
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser"
}
