{
  "extends": ["react-app", "prettier"],
  "rules": {
    "no-unused-expressions": [
      "warn",
      {
        "allowTernary": true,
        "allowShortCircuit": true
      }
    ],
    "jsx-quotes": [1, "prefer-single"]
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint"
}
